#if ($loggedin)
<table class="tableBorder" border="0" cellpadding="0" cellspacing="0" width="99%"><tr><td>
<table border="0" cellpadding="3" cellspacing="1" width="100%">
    <tr class=rowHeader>
        <td class="colHeaderLink">
        $i18n.getText("portlet.numberinstatus.name"):
        #if ($project)
            <b><a href="${requestContext.canonicalBaseUrl}/browse/$project.key">$textutils.htmlEncode($project.name)</a></b>
        #elseif ($searchRequest)
            <b><a href="${requestContext.canonicalBaseUrl}/secure/IssueNavigator.jspa?requestId=${searchRequest.id}&mode=hide">$textutils.htmlEncode($searchRequest.name)</a></b>
        #else
            <b>$i18n.getText("portlet.numberinstatus.anonymousFilter")</b>            
        #end
        </td>
    </tr>

    #if (!$completeDataset || $completeDataset.seriesCount == 0)
        <tr bgcolor="#FFFFFF"><td>$i18n.getText("portlet.numberinstatus.noissues")</td></tr>
    #else
    <tr bgcolor="#FFFFFF">
        <td width="100%" align="center">
            #if ($base64Image)
                #if ($imagemap)
                    $imagemap
                #end
                <center>
                    <img src='$base64Image' border='0' #if ($imagemap) usemap="\#$imagemapName" #end width="$imageWidth" height="$imageHeight" /><br />
                </center>

                $i18n.getText("portlet.numberinstatus.numdays", "<b>$daysPrevious</b>")<br/>

            #else
                $i18n.getText("portlet.numberinstatus.nochart")
            #end
        </td>
    </tr>
    #end

</table>
</td></tr></table>
#end